name: Atualizar README de forma aleat칩ria

on:
  schedule:
    - cron: '7 3 * * *'
    - cron: '12 7 * * *'
    - cron: '25 10 * * *'
    - cron: '33 14 * * *'
    - cron: '51 18 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Clonar reposit칩rio
        uses: actions/checkout@v3

      - name: Atualizar README (chance aleat칩ria)
        run: |
          RANDOM_NUM=$((RANDOM % 5))
          echo "N칰mero sorteado: $RANDOM_NUM"
          
          if [ "$RANDOM_NUM" -ne 0 ]; then
            echo "游 Atualizado em $(date '+%d/%m/%Y %H:%M:%S')" >> README.md
            git config --global user.name 'nailsonlima'
            git config --global user.email '78036929+nailsonlima@users.noreply.github.com'
            git add README.md
            git commit -m "update autom치tico no README"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
            git push origin HEAD:main
          else
            echo "Nada feito. Hoje n칚o, Faro!"
          fi
